<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <include file="Common:header"/>
    <include file="Common:left"/>
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">关于</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">关于管理</a><span class="crumb-step">&gt;</span><span>修改关于</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">


                <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <input type="hidden" name="ab_id" value="{$firsts.ab_id}">
                    <table class="insert-tab" width="100%">
                        <tbody>


                        <tr>
                            <th><i class="require-red">*</i>关于标题：</th>
                            <td>
                                <input class="common-text required" id="title" name="ab_title" size="50" value="{$firsts.ab_title}" type="text">
                            </td>
                        </tr>

                        <tr>
                            <th><i class="require-red">"</i>缩略图: </th>
                            <td><input name="ab_pic" id="pic" type="file">
                            <if condition="$firsts{'ab_pic'} neq null">
                                <img src="__ROOT__{$firsts.ab_pic}" height="30" />
                                <else/>
                                暂无图片
                            </if>
                            </td>
                        </tr>

                        <tr>
                            <th>内容: </th>
                            <td><textarea name="ab_content" class="common-textarea"  id="content" cols="30"
                                          style="width: 98%;" rows="10">{$firsts.ab_content}</textarea></td>
                        </tr>

                        <tr>
                            <th></th>
                            <td>
                                <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                            </td>
                        </tr>
                        </tbody></table>
                </form>


            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>