<footer>
    <div class = "footer">
        <div class="row">
            <dl>
                <dt>产品</dt>
                <dd>
                    <a target="_blank" href="#">360 Total Security</a>
                </dd>
                <dd>
                    <a target="_blank" href="//www.360totalsecurity.com/zh-cn/features/360-total-security-essential/">360 Total Security Essential</a>
                </dd>
                <dd>
                    <a target="_blank" href="//www.360totalsecurity.com/zh-cn/features/360-total-security-mac/">360 Total Security for Mac</a>
                </dd>
                <dd>
                    <a target="_blank" href="http://360safe.com/mobile-security.html" rel="nofollow">360 Security for Android</a>
                </dd>
            </dl>
            <dl>
                <dt>新闻</dt>
                <dd><a href="https://blog.360totalsecurity.com/zh-cn/category/%e4%ba%a7%e5%93%81%e7%9b%b8%e5%85%b3/">产品相关</a></dd><dd><a href="https://blog.360totalsecurity.com/zh-cn/category/%e5%85%ac%e5%8f%b8%e6%96%b0%e9%97%bb/">公司新闻</a></dd>                    </dl>
            <dl>
                <dt>联系我们</dt>
                <dd>
                    <a class="email-link" href="mailto:support@360overseas.com">support@360overseas.com</a>
                </dd>
                <dd>
                    <a href="//www.360totalsecurity.com/zh-cn/about/">Qihoo 360</a>
                </dd>
            </dl>
        </div>

        <div class="row">
            <span class="copyright">© 2014 - 2017 Qihu 360 Software Co. Limited</span>
        </div>
    </div>
</footer>



<script>
    $(function($){
        $('[data-ga]').click(function() {
            var e = $(this).attr('data-ga').split('|');
            ga('send', 'event', e[0], e[1], e[2]);
        });


    });

    $(function() {
        'use strict';

        var $window = $(window);

        $window.scroll(checkAnchorBar);

        checkAnchorBar();

        function checkAnchorBar() {
            var $anchorBar = $('.anchor-bar');
            var scrollTop = $window.scrollTop();

            var $anchorStartElem = $('header');
            var attachedClass = 'attached';

            var threshold = $anchorStartElem.offset().top + $anchorStartElem.height();

            if (!$anchorBar.hasClass(attachedClass) && scrollTop >= threshold) {
                $anchorBar.addClass(attachedClass);
            } else if ($anchorBar.hasClass(attachedClass) && scrollTop < threshold) {
                $anchorBar.removeClass(attachedClass);
            }
        }
    });
</script>


<div id="fb-root"></div>


</body>
</html>
