<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<meta charset="UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


<link href='__PUBLIC__/Home/style/style.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/style/font.css">
<script type="text/javascript" src="__PUBLIC__/Home/style/jquery-1.11.3.min.js"></script>






<style type="text/css">
    img.wp-smiley,
    img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 .07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
    }
</style>

</head>

<body class="p-blog zh">
<!-- Desktop Header -->
<!-- 导航啦开始 -->
<header>
    <div class="header">
        <div class="logo">
            <div class="title">
                <a href="#">
                    <img src="#" alt="360 Total Security Blog Logo" title="360 Total Security Blog Logo" width="126" height="45" />
                    <h1>博客222</h1>
                </a>
            </div>

        </div>
        <nav class="navbar" role="navigation">
            <ul class="nav">
<!--                <li><a class="active" href="#">最新文章</a></li>-->
                <volist name="navers" id="vo">
                    <li>
                    <if condition="$vo['cate_id'] eq 1 ">
                    <a    href="__MODULE__/index/index" class="">{$vo.cate_name}</a>
                    <elseif condition="$vo['cate_id'] eq 2 "/>
                    <a    href="__MODULE__/article/index" class="">{$vo.cate_name}</a>
                    <elseif condition="$vo['cate_id'] eq 3 "/>
                    <a    href="__MODULE__/about/index" class="">{$vo.cate_name}</a>
                    </if>
                    </li>
                </volist>
            </ul>
        </nav>
    </div>
</header>

<div class="anchor-bar">
    <ul>
        <li class="active"><a href="#">最新文章</a></li>
        <li><a href="#">产品相关</a></li>
        <li><a href="#">公司新闻</a></li>
        <li>
            <a class="download" data-ga="download|anchor-bar|ts|" href="{:U('Admin/Login/login')}">Whether to log in now？</a>
        </li>
    </ul>
</div>



<!-- 导航栏结束 -->
